@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
    --color-primary-50: #fff7ed;
    --color-primary-100: #ffedd5;
    --color-primary-500: #f97316;
    --color-primary-600: #ea580c;
    --color-cream: #f8f7f4;
}

@layer base {
    body {
        font-family: 'Inter', sans-serif;
        @apply bg-cream text-gray-900 antialiased;
    }
}